@font-face {
    font-family: lakeshore;
    src: url(fonts/LAKESHOR-webfont.woff);
}

html {
    height: 100%;
}

body {
    --thumbnails-image-width: 20vw;
    --thumbnails-image-height: 25vw;
    --thumbnails-title-height: calc(var(--thumbnails-image-height)*0.2);
    /* --details-image-width: 35 vh;*/
    --details-image-height: 50vh;
}

body {

    background-position: center;
    background-repeat: repeat;
    height: 100%;


    background-image: url(../images/White-House.jpg);
    display: flex;
    flex-direction: column;
    margin: 0;
    animation-name: example;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: 3;
    animation-direction: alternate;
}

@keyframes example {
    from {
        background-image: url(../images/White-House.jpg);
    }

    to {
        background-image: url(../images/kremlin.jpg);
    }
}

.logo {
    display: block;
    color: rgb(255, 255, 0);
    text-align: center;
    /*background-color: rgb(184, 204, 197);*/
    background-size: 100% 100%;
    font-size: 1.5em;
    text-transform: uppercase;
    background-image: url(../images/conf.jpg);
    /*background-image: url("images/conf.jpg");*/
    font-family: lakeshore;
}

h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.main-class {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    max-height: 90vh;
}

.details-container {
    display: flex;
    flex-direction: column;

    align-items: center;
    margin-top: 5vh;
    margin-bottom: 2vh;
    transition: 5s cubic-bezier(0.8, 2, 0.2, 1);
}

.hidden .details-container {
    display: none;
}

.details-frame {
    position: relative;
}

#hide-button {
    position: absolute;
    right: 3vw;
    top: vh;
}

.details-image {
    /*width: var(--details-image-width);*/
    height: var(--details-image-height);
    border-radius: 25%;

}

.details-title {
    display: block;
    font-size: 1em;
    text-align: center;
    background-color: aliceblue;
    font-family: lakeshore;
    position: absolute;
    left: 14%;
    bottom: 1%;

}

.thumbnails-list {
    display: flex;
    flex-wrap: wrap;
    max-height: 60vh;
    overflow-y: scroll;
    list-style: none;
    justify-content: space-around;
    padding-left: 0;
    margin-top: 25px;
}

.thumbnails-item {
    border: solid 2px rgb(28, 85, 28);
    margin-top: 2vh;
    border-radius: 25%;
    overflow: hidden;
    min-height: calc(var(--thumbnails-image-height) + var(--thumbnails-title-height));
    min-width: var(--thumbnails-image-width);
    max-width: var(--thumbnails-image-width);
    margin-left: 1vw;
}

.thumbnails-item:hover {
    transform: rotate(360deg);
    transition: 3s;
    transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    /*scale(1.1);*/
}

.thumbnails-image {
    width: var(--thumbnails-image-width);
    height: var(--thumbnails-image-height);
    display: block;


}

.thumbnails-title {
    font-size: small;
    display: block;
    text-align: center;
    background-color: green;
    font-family: lakeshore;
    color: aliceblue;
    height: var(--thumbnails-title-height);


}

.thumbnails-anchor {
    text-decoration: none;

}

.is-point {
    transform: scale(0.001);
    transition: 0s;
}
@media (min-width: 560px) {
    .main-class {
        flex-direction: row;
    }

    body {
        --thumbnails-image-width: 13vw;
        --thumbnails-image-height: 17vw;
        /*--details-image-width: 30vw;*/
        --details-image-height: 75vh;
    }

    .thumbnails-list {
        order: -1;
        flex-direction: column;
        flex-wrap: nowrap;
        max-height: 80vh;
        justify-content: flex-start;
        margin-right: 7vw;
        padding-right: 25vw;
    }

    .thumbnails-item {
        min-height: 19vw;
        margin-bottom: 2vw;

    }


    .details-container {
        align-items: center;
        justify-content: center;
        margin-top: 5vh;
    }

    .logo {

        background-size: contain;
        max-height: 15vh;
    }

    .main-class {
        max-height: 70vh;
    }

    .details-image {
        margin-top: 12vh;

    }

    .details-title {
        min-width: 22vw;
        max-width: 22vw;
        left: 3vw;

    }

    #hide-button {
        position: absolute;
        right: 1vw;
        top: 12vh;
    }

    .hidden .thumbnails-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        max-height: 95vh;
        padding-right: 1vw;
        margin-left: 5vw;
        margin-bottom: -2vw;
    }


}

@media (min-width: 1000px) {
    .thumbnails-list {
        padding-right: 10vw;
    }

    .details-title {
        min-width: 22vw;
        max-width: 22vw;
        left: 6vw;
    }

    .details-image {
        min-width: 34vw;
        max-width: 34vw;
    }

    .logo {

        background-size: contain;
    }

    .thumbnails-title {
        font-size: x-large;
    }

    .details-container {
        margin-top: 5vh;
        flex-grow: 0.5;
        margin-bottom: 0;
    }

    .main-class {
        max-height: 75vh;
    }
}