body,
html {
  height: 100vh;
  overflow: hidden;
  background-size: contain;
}

.section-class {
  display: flex;
  justify-content: center;
  margin-top: 2vh;
}

.input {
  margin-top: 2vh;
}

.form-select-group {
  margin-top: 2vh;
}

.form-buttons {
  margin-top: 2vh;
}

.active-video-section {
  display: block;
  text-align: center;  
}

.hidden-video-section {
  display: none;
}
video{
  max-height: 70vh;
}